---

import RiffsterLayout from '@/layouts/RiffsterLayout.astro';
import ClientArtistMain from '@/components/react/main/artist/ClientArtistMain.jsx';

const { id } = Astro.params;

---

<RiffsterLayout>
  <div class="relative z-10 scrollable" style="flex: 1 1 0%; min-height: 0; overflow-y: auto; height: 100%; max-height: 100vh;">
    <ClientArtistMain id={id} client:load />
  </div>
  <style>
    .scrollable::-webkit-scrollbar {
      width: 8px;
    }
    .scrollable::-webkit-scrollbar-track {
      background: transparent;
      border-radius: 8px;
    }
    .scrollable::-webkit-scrollbar-thumb {
      background-color: rgba(31, 41, 55, 0.5);
      border-radius: 8px;
      transition: display 0.3s ease;
    }
    .scrollable::-webkit-scrollbar-button {
      display: none;
    }
  </style>
</RiffsterLayout>
