---
import AsideMenuItem from "./AsideMenuItem.astro";
import AsideMenuCard from "./AsideMenuCard.astro";
import ClientPlaylist from '@/react/ClientPlaylist.jsx'
import "iconify-icon";

let playlists = [];
---

<nav class="flex flex-col flex-1 gap-2">
    <div class="bg-zinc-900 rounded-lg p-2">
        <ul>
            <AsideMenuItem href="#">
                <iconify-icon
                    icon="material-symbols:home-rounded"
                    class="text-2xl"></iconify-icon>
                {
                    /*<iconify-icon icon="material-symbols:home-outline-rounded" class="text-2xl"/>*/
                }
                Inicio
            </AsideMenuItem>
            <AsideMenuItem href="#">
                <iconify-icon icon="mingcute:search-line" class="text-2xl"
                ></iconify-icon>
                Buscar
            </AsideMenuItem>
        </ul>
    </div>
    <div class="bg-zinc-900 rounded-lg p-2 flex-1">
        <AsideMenuItem href="#">
            <iconify-icon icon="mdi:bookshelf" class="text-2xl"></iconify-icon>
            Tu biblioteca
        </AsideMenuItem>
        <ClientPlaylist client:load />
    </div>
</nav>
