.volume-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 0.25rem;
    background: linear-gradient(to right, #00b8db  50%, #4a5565 50%);
    border-radius: 15px;
    cursor: pointer;
    outline: none;
    transition: background 0.2s ease-in-out;
  }
  
  .volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    height: 13px;
    width: 13px;
    background-color: #00b8db ;
    border-radius: 50%;
    border: none;
    transition: 0.2s ease-in-out;
    position: relative;
    z-index: 2;
  }
  
  .volume-slider:hover::-webkit-slider-thumb {
    box-shadow: 0 0 0 9px rgba(0, 201, 81, 0.1);
  }
  
  .volume-slider:active::-webkit-slider-thumb,
  .volume-slider:focus::-webkit-slider-thumb {
    box-shadow: 0 0 0 11px rgba(0, 201, 81, 0.2);
  }
  
  .volume-slider::-moz-range-track {
    background: #4a5565;
    height: 0.25rem;
    border-radius: 13px;
  }
  
  .volume-slider::-moz-range-progress {
    background-color: #00b8db ;
    height: 0.25rem;
    border-radius: 13px;
  }
  
  .volume-slider::-moz-range-thumb {
    height: 13px;
    width: 13px;
    background-color: #00b8db ;
    border: none;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
  }
  
  .volume-slider:hover::-moz-range-thumb {
    box-shadow: 0 0 0 9px rgba(0, 201, 81, 0.1);
  }
  
  .volume-slider:active::-moz-range-thumb,
  .volume-slider:focus::-moz-range-thumb {
    box-shadow: 0 0 0 11px rgba(0, 201, 81, 0.2);
  }
  